<!-- begin::Quick Nav -->
<li class="m-nav-sticky__item" matTooltip="Layout Builder" matTooltipPosition="left">
	<a  >
		<i class="la la-cog"></i>
	</a>
</li>
<li class="m-nav-sticky__item" matTooltip="Purchase" matTooltipPosition="left">
	<a  target="_blank">
		<i class="la la-cart-arrow-down"></i>
	</a>
</li>
<li class="m-nav-sticky__item" matTooltip="Documentation" matTooltipPosition="left">
	<a  target="_blank">
		<i class="la la-code-fork"></i>
	</a>
</li>
<li class="m-nav-sticky__item" matTooltip="Support" matTooltipPosition="left">
	<a  target="_blank">
		<i class="la la-life-ring"></i>
	</a>
</li>
<!-- begin::Quick Nav -->
