<div class="row">

<div class="col-12" >
<!--  <span><img src="./assets/app/media/img/products/en-contruccion.jpeg" alt=""> </span>-->
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pais">
      <mat-header-cell *matHeaderCellDef> Pais </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pais}} </mat-cell>
    </ng-container> 
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <span class="material-icons"  (click)="accion('eliminar', element)"> 
        delete
      </span> 
      <span class="material-icons" (click)="accion('ver', element)">
        visibility
      </span>
      <span class="material-icons" (click)="accion('edita',element)">
        perm_identity
      </span>
    </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator 

  (page)="mostrarMas($event)"
  
    [pageSizeOptions]="[4]"
     [showFirstLastButtons]="true">
  </mat-paginator>
</div>
</div>
</div>

<div class="row">

</div>



