<div class="row">
  <div class="col-xl-4 col-lg-5">
    <div class="m-portlet m-portlet--full-height">
      <div class="m-portlet__body">
        <div class="m-card-profile">
          <div class="m-card-profile__title m--hide">
            Tu perfil
          </div>
          <div class="form-group m-form__group row">
            <div class="col-12 ml-auto">
              <h3 class="m-form__section">Datos personales</h3>
            </div>
          </div>
          <div class="m-card-profile__pic">
            <div class="m-card-profile__pic-wrapper">
              <img src="http://localhost:8080/api/uploads/img/{{usuario.foto}}" alt="{{usuario.foto}}"
                *ngIf="usuario?.foto">
              <img src="./assets/app/media/img/users/no-user.jpg" alt="" *ngIf="!usuario?.foto">
            </div>

          </div>
          <div class="input-group mb-3 row">
            <div class="custom-file col-7 p-0 ">
              <label for="inputGroupFile04" style="cursor:pointer">Seleccionar foto</label>

              <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04" name="inputGroupFile04">
            </div>
            <div class="input-group-append col-5 p-0 mt-2" *ngIf="nombreFoto">
              {{nombreFoto}}
            </div>
            <div class="input-group-append col-9" *ngIf="nombreFoto">

            </div>

            <div class="input-group-append col-3">
              <button (click)="subirFoto()" [disabled]="!fileToUpload"
                class="btn-primary m-btn m-btn--air m-btn--custom" type="button"
                id="inputGroupFileAddon04">Subir</button>
            </div>
          </div>
          <div class="m-card-profile__details">
            <span class="m-card-profile__name"></span>
            <span class="m-card-profile__email m-link"></span>
            {{usuario.email}}
          </div>

          <div class="form-group m-form__group row ml-1 mt-3">
            <label><strong>Nombre completo</strong> </label>
          </div>
          <div class="row">
            <div class="col-6">
              <span>{{usuario.nombre}}</span>
            </div>
            <div class="col-6">
              <span>{{usuario.apellido}}</span>
            </div>
          </div>

          <div class="form-group m-form__group row mt-3">

            <div class="col-5">
              <label><strong>Ocupaciòn</strong> </label>
            </div>
            <div class="col-7">
              <label>{{usuario.ocupacion}}</label>
            </div>
          </div>

          <div class="form-group m-form__group row mt-2">

            <div class="col-5">
              <label><strong>Telèfono</strong> </label>
            </div>
            <div class="col-7">
              <label>{{usuario.telefono}}</label>
            </div>
          </div>
        </div>
        <!-- <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
          <li class="m-nav__separator m-nav__separator--fit"></li>
          <li class="m-nav__section m--hide">
            <span class="m-nav__section-text">Section</span>
          </li>
          <li class="m-nav__item">
            <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-profile-1"></i>
              <span class="m-nav__link-title">
                  <span class="m-nav__link-wrap">
                      <span class="m-nav__link-text">My Profile</span>
                      <span class="m-nav__link-badge">
                          <span class="m-badge m-badge--success">2</span>
                      </span>
                  </span>
              </span>
            </a>
          </li>
          <li class="m-nav__item">
            <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-share"></i>
              <span class="m-nav__link-text">Activity</span>
            </a>
          </li>
          <li class="m-nav__item">
            <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-chat-1"></i>
              <span class="m-nav__link-text">Messages</span>
            </a>
          </li> 
        <li class="m-nav__item">
            <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-graphic-2"></i>
              <span class="m-nav__link-text">Sales</span>
            </a>
          </li>
          <li class="m-nav__item">
            <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-time-3"></i>
              <span class="m-nav__link-text">Events</span>
            </a>
          </li>
          <li class="m-nav__item">
            <a href="?page=header/profile&amp;demo=default" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-lifebuoy"></i>
              <span class="m-nav__link-text">Support</span>
            </a>
          </li> 
        </ul>
        <div class="m-portlet__body-separator"></div>-->
        <!-- <div class="m-widget1 m-widget1--paddingless">
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <h3 class="m-widget1__title">Member Profit</h3>
                <span class="m-widget1__desc">Awerage Weekly Profit</span>
              </div>
              <div class="col m--align-right">
                <span class="m-widget1__number m--font-brand">+$17,800</span>
              </div>
            </div>
          </div>
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <h3 class="m-widget1__title">Orders</h3>
                <span class="m-widget1__desc">Weekly Customer Orders</span>
              </div>
              <div class="col m--align-right">
                <span class="m-widget1__number m--font-danger">+1,800</span>
              </div>
            </div>
          </div>
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <h3 class="m-widget1__title">Issue Reports</h3>
                <span class="m-widget1__desc">System bugs and issues</span>
              </div>
              <div class="col m--align-right">
                <span class="m-widget1__number m--font-success">-27,49%</span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-7">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
      <!-- <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item m-portlet__nav-item--last">
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                  <i class="la la-gear"></i>
                </a>
                <div class="m-dropdown__wrapper" style="z-index: 101;">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first">
                            <span class="m-nav__section-text">Quick Actions</span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-share"></i>
                              <span class="m-nav__link-text">Create Post</span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-chat-1"></i>
                              <span class="m-nav__link-text">Send Messages</span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                              <span class="m-nav__link-text">Upload File</span>
                            </a>
                          </li>
                          <li class="m-nav__section">
                            <span class="m-nav__section-text">Useful Links</span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-info"></i>
                              <span class="m-nav__link-text">FAQ</span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                              <span class="m-nav__link-text">Support</span>
                            </a>
                          </li>
                          <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                          <li class="m-nav__item m--hide">
                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
      <div class="m-portlet__body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div>
            <div class="form-group m-form__group row">
              <div class="col-10 ml-auto">
                <h3 class="m-form__section">Dirección</h3>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class="scol-form-label"><strong>Direcciòn</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" name="direccion" [(ngModel)]="usuario.direccion" type="text">

              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class="col-form-label"><strong>Ciudad</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" type="text" name="ciudad" [(ngModel)]="usuario.cuidad">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class="col-form-label"><strong>Estado/region</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" type="text" name="estado" [(ngModel)]="usuario.estado">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class=" col-form-label"><strong>Codigo Postal</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" type="text" name="codigoPostal" [(ngModel)]="usuario.codigoPostal">
              </div>
            </div>
            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
            <div class="form-group m-form__group row">
              <div class="col-10 ml-auto">
                <h3 class="m-form__section">Social Links</h3>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class="col-2 col-form-label"><strong>Linkedin</strong></label>
              </div>

              <div class="col-8">
                <input class="form-control m-input" type="text" name="linkedink" [(ngModel)]="usuario.linkedink">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class="col-2 col-form-label"><strong>Facebook</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" type="text" name="facebook" [(ngModel)]="usuario.facebook">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-4">
                <label for="example-text-input" class="col-2 col-form-label"><strong>Twitter</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" type="text" name="twittter" [(ngModel)]="usuario.twittter">
              </div>
            </div>
            <div class="form-group m-form__group row">

              <div class="col-4">
                <label for="example-text-input" class="col-2 col-form-label"><strong>Instagram</strong></label>
              </div>
              <div class="col-8">
                <input class="form-control m-input" type="text" name="instagram" [(ngModel)]="usuario.instagram">
              </div>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
              <div class="row">
                <div class="col-6">
                  <button type="reset" class="btn btn-primary  m-btn m-btn--air m-btn--custom"
                    (click)="guardar()">Guardar
                    Cambios</button>&nbsp;&nbsp;

                </div>
                <div class="col-6">

                  <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom"
                    (click)="cancelar()">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>