<!--begin::Signin-->
<div class="m-login__signin">
	<div class="m-login__title">
		<h3 class="m-login__title mb-0">Regístrate</h3>
		<div class="m-login__desc  mb-0">Ingrese sus datos para crear su cuenta:</div>
	</div>

	<m-auth-notice></m-auth-notice>

	<!--begin::Form-->
	<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
		<div class="form-group  mb-0">
			<mat-form-field>
				<mat-label>Nombre</mat-label>
				<input matInput type="text" name="nombre" placeholder="Nombre" autocomplete="off"
					[(ngModel)]="usuario.nombre" #nombre="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group mb-0">
			<mat-form-field>
				<mat-label>Apellido</mat-label>
				<input matInput type="text" name="apellido" placeholder="Apellido" autocomplete="off"
					[(ngModel)]="usuario.apellido" #apellido="ngModel" required>
			</mat-form-field>
		</div>
		
		<div class="form-group mb-0">
			<div class="row">
				<div class="col-6">
					<div class="form-group ">
						<label class="color-lablel">Tipo documento</label>
						<div >
							<select name="select" class="select" [(ngModel)]="usuario.tipo_documento" >
								<option value={{item.value}} *ngFor="let item of listDocumento">{{item.nombre}}</option>
					
							</select>
						</div>
					
					</div>
				</div>
				<div class="col-6">
					<mat-form-field>
						<mat-label>Número de documento</mat-label>
						<input matInput type="number" name="numero_documento" placeholder="Número Documento" autocomplete="off"
							[(ngModel)]="usuario.numero_documento" #numero_documento="ngModel" required>
					</mat-form-field>
				</div>
			</div>
			
		</div>
		
		<div class="form-group mb-0">
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" name="email" placeholder="Email address" autocomplete="off"
					[(ngModel)]="usuario.email" #email="ngModel" email="true" required>
			</mat-form-field>
		</div>
		<div class="form-group mb-0">
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput minlength="4" type="password" name="password" placeholder="Contraseña"
					autocomplete="off" [(ngModel)]="usuario.password" #password="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group mb-0">
			<mat-form-field>
				<mat-label>Confirmar Contraseña</mat-label>
				<input matInput minlength="4" type="password" name="rpassword" placeholder="Confirmar contraseña"
					autocomplete="off" [(ngModel)]="usuario.rpassword" #rpassword="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group mb-0">
			<mat-checkbox name="agree" required="true" [(ngModel)]="usuario.terminos" #terminos="ngModel">Acepto los terminos
				<a>y condiciones</a>
			</mat-checkbox>
		</div>
	</form>
	<!--end::Form-->

	<!--begin::Action-->
	<div class="m-login__action m-login__action--fit">
		<button mat-button (click)="loginPage($event)" [disabled]="loading">Atrás</button>
		<m-spinner-button [options]="spinner" (click)="submit()">Enviar</m-spinner-button>
	</div>
	<!--end::Action-->
</div>
<!--end::Signin-->