<!--begin::Signin-->
<div class="container">
    <div class="row mt-5">

        <div class="col-4"></div>
        <!-- <div class="col-4 mt-1" [hidden]="habilitarNuevoPassword" >
            <label class="m-4"> <strong>Recupera tu cuenta</strong></label>
            <span class="d-block">Hola!  <strong>{{usuario.nombre}}</strong> podemos ayudarte a restablecer tu contraseña y la información de seguridad. Primero
                escribe tu correo electrónico
                y sigue
                las instrucciones siguientes.</span>
                  <form class="mt-2" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Dirección de correo electrónico</label> 
                                         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Ingrese correo electrónico"  formControlName="email" required (input)="obtenerEmailVerificar($event)"> 
                                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con
                                            nadie más.</small>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-secondary" (click)="atras()" >Atrás</button>
                                        <button type="button" class="btn btn-primary" [disabled]="habilitar" (click)="obtenerEmail()">Enviar</button>
                                    </div>
                    
                                </form> 
        </div> -->
        <div class="col-4"> </div>

    </div>

    <div class="row mt-5" [hidden]="!habilitarNuevoPassword">
        <div class="col-4">

        </div>
        <div class="col-4 mt-5">
            <form >
                <div class="form-group">
                    <label for="exampleInputEmail1">Contraseña</label>
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
   
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmar Contraseña">
                </div>
                
            <div class="text-right">
                <!-- //<button type="button" class="btn btn-secondary" (click)="atras()">Atrás</button> -->
                <button type="button" class="btn btn-primary" [disabled]="habilitar" (click)="obtenerEmail()">Enviar</button>
            </div>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>