* {
  box-sizing: border-box;
}

:root {
  --jeans:#737373;
  --ground-hue:190;
  --belt:#000;
  --fur-dark:#73370d;
  --fur:#8a420f;
  --fur-light:#b8672e;
  --muzzle:#e6b999;
  --tank:#d9d9d9;
  --nose:#0d0d0d;
  --bandana:#f20d0d;
  --keyboard-body:#404040;
  --keyboard-key:#8c8c8c;
  --keyboard-accent:#7359a6;
  --bg:hsl(var(--ground-hue), 60%, 95%);
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: var(--bg);
}

svg {
  width: 60vmin;
}

.ground {
  --alpha:0.5;
  fill: hsla(var(--ground-hue), 60%, 60%, var(--alpha, 1));
}

.bear__jeans {
  fill: var(--jeans);
}

.bear__belt {
  fill: var(--belt);
}

.bear__muzzle {
  fill: var(--muzzle);
}

.bear__shoulder--left {
  fill: var(--fur-dark);
}

.bear__tank {
  fill: var(--tank);
}

.bear__nose {
  fill: var(--nose);
}

.bear__bandana {
  fill: var(--bandana);
}

.bear__fur, .bear__paw {
  fill: var(--fur);
}

.bear__fur--light, .bear__paw--light {
  fill: var(--fur-light);
}

.keyboard__body {
  fill: var(--keyboard-body);
}

.keyboard__key {
  fill: var(--keyboard-key);
}

.keyboard__key--accented {
  fill: var(--keyboard-accent);
}

.code-block {
  fill: hsl(var(--hue), 100%, 50%);
}

label {
  height: 44px;
  width: 44px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;

  > svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  path {
    fill: hsl(var(--ground-hue), 60%, 60%);
  }

  svg:nth-of-type(1) {
    display: none;
  }
}

[type='checkbox'] {
  height: 0;
  width: 0;
}

:checked ~ label svg {
  &:nth-of-type(1) {
    display: block;
  }

  &:nth-of-type(2) {
    display: none;
  }
}